

.navbar-toggler {
border: none;
outline: none;
}

.nav-link {
    color: #E99548;
    padding: 10px;
    margin-right: 10px;
}

.nav-link:hover {
    color: #AB3535;
}


.btn-booknow {
    color: white;
    background-color: #AB3535;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}
  