:root {
 --primary:#AB3535
}

.navbar-toggler {
border: none;
outline: none;
}

.nav-link {
    color: #E99548;
    padding: 10px;
    margin-right: 10px;
    text-align: right;
}

.nav-link:hover {
    color: var(--primary);
}

.btn-booknow {
    color: white;
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}

.btn-adventures {
    color: white;
    background-color: #E99548;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}

.support {
    color: #E99548;
}

.warning {
    background-color: #ffe9d482;
}

.h1 {
    color: #ffffff;
}

h4 {
    color: #ffffff;
}

.hero-section {
    background-color: #fff4f4;
    background-image: url(../images/skydiving-in-the-great-smoky-mountains-pigeon-forge.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 1;
}

.hero-section::before {
    background-color: var(--primary);
    content: "";
    height: 100%;
    opacity: 85%;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: -1;
}

.btn-booknow2 {
    color: white;
    background-color: #E99548;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 20px;
}
